<div class="container">
  <div class="col">
    <h3>{{titulo}}</h3>
  </div>
  <hr/>

  <!--personaCreada le envia el objeto con los datos del formulario al Metodo personaAgregada que esta en el componente padre app-component-->
  <app-formulario >

  </app-formulario>
  <hr/>
</div>

<!--con property binding le pasamos los datos a la persona-component que se encargara de mostrar la lista de personas-->
<app-persona  *ngFor="let personaElement of personas; let i = index"
[persona]="personaElement"
[indice]="i"
>
</app-persona>
